@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trabalho de Asp.net MVC</h1>
    <p class="lead">Trabalho realizado por Willian da Costa Ribeiro, e teve como orientador, professor Douglas Barcelos.</p>
</div>